<header class="c-header ">

    <div class="c-header__inner l-container">

    	<h1 class="c-logo ">
    	    <a href="/patterns/04-pages-00-homepage/04-pages-00-homepage.rendered.html" class="c-logo__link" rel="home">
    	
    	    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
    	
    	    </a><!--end c-logo__link-->
    	
    	</h1><!--end c-logo-->

    	<nav class="c-primary-nav" role="navigation">
    	
    	    <ul class="c-primary-nav__list">
    	
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category/04-pages-01-category.rendered.html" class="c-primary-nav__link">
    	                Women
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category-men/04-pages-01-category-men.rendered.html" class="c-primary-nav__link">
    	                Men
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category-kids/04-pages-01-category-kids.rendered.html" class="c-primary-nav__link">
    	                Kids
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category-on-sale/04-pages-01-category-on-sale.rendered.html" class="c-primary-nav__link">
    	                On Sale
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-03-cart/04-pages-03-cart.rendered.html" class="c-primary-nav__link">
    	                
    	                <svg class="c-icon c-primary-nav__icon">
    	                    <use xlink:href="../../icons.svg#shopping-cart"></use>
    	                </svg>
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    	
    		</ul><!-- end c-primary-nav__list -->
    	
    	</nav><!-- end c-primary-nav -->

    </div><!--end l-container-->

</header><!--end c-header-->
<main role="main">

		<div class="l-container">
			<div class="c-page-header ">
			
			    <h1 class="c-page-header__title">Kids' Shoes</h1>
			
			
			</div><!-- end c-page-header -->

			<div class="c-hero">
			
				<img src="" alt="" class="c-hero__img" />
				<div class="c-hero__body">
					<h2 class="c-hero__headline"></h2>
				</div>
			
			</div><!-- end c-hero-->

			<ul class="c-stacked-block-list l-grid l-grid--3up u-margin-bottom-large">
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../images/men-chucks.jpg" alt="chuck taylor shoes" class="c-stacked-block__img" />		</div>
					<span class="c-stacked-block__badge">Sale</span>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Converse Chuck Taylor&#x27;s</h2>
					<p class="c-stacked-block__excerpt">Available in both boys&#x27; and girls&#x27; sizes</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$50</span>
					<span class="c-stacked-block__optional">$85</span>
				</div>
			</a><!-- end c-stacked-block --></li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../images/girls-high-tops.jpg" alt="girl&#x27;s high tops" class="c-stacked-block__img" />		</div>
					<span class="c-stacked-block__badge">Sale</span>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Girl&#x27;s High Tops</h2>
					<p class="c-stacked-block__excerpt">Available in 4 color combinations</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$90</span>
					<span class="c-stacked-block__optional">$150</span>
				</div>
			</a><!-- end c-stacked-block --></li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../../images/kids-green-shoes.jpg" alt="toddler green shoes" class="c-stacked-block__img" />		</div>
					<span class="c-stacked-block__badge">Sale</span>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Toddler Green Shoes</h2>
					<p class="c-stacked-block__excerpt">Suitable for ages 0-2 years</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$230</span>
					<span class="c-stacked-block__optional">$135</span>
				</div>
			</a><!-- end c-stacked-block --></li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../../images/kids-technicolor-nikes.jpg" alt="multicolored Nike shoes" class="c-stacked-block__img" />		</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Multicolored Nikes</h2>
					<p class="c-stacked-block__excerpt">Available in toddler and youth sizes</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$120</span>
				</div>
			</a><!-- end c-stacked-block --></li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../../images/girls-nike.jpg" alt="girl&#x27;s nike sneakers" class="c-stacked-block__img" />		</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Girl&#x27;s Nike Sneakers</h2>
					<p class="c-stacked-block__excerpt">Available in 5 colors</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$70</span>
				</div>
			</a><!-- end c-stacked-block --></li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../../images/kids-velcro.jpg" alt="velcro shoes" class="c-stacked-block__img" />		</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Velcro Shoes</h2>
					<p class="c-stacked-block__excerpt">Available in both boys&#x27; and girls&#x27; sizes</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$70</span>
				</div>
			</a><!-- end c-stacked-block --></li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../../images/women-colorful.jpg" alt="technicolor sneakers" class="c-stacked-block__img" />		</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Multicolored Running Shoes</h2>
					
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$75</span>
				</div>
			</a><!-- end c-stacked-block --></li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../../images/women-combat-boots.jpg" alt="black leather high ankle boots" class="c-stacked-block__img" />		</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Black Leather Boots</h2>
					<p class="c-stacked-block__excerpt">Made of 100% authentic leather</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$180</span>
				</div>
			</a><!-- end c-stacked-block --></li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../../images/women-white-heels.jpg" alt="white high heels" class="c-stacked-block__img" />		</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Shiny High Heels</h2>
					<p class="c-stacked-block__excerpt">Available in 5 colors</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$95</span>
				</div>
			</a><!-- end c-stacked-block --></li>
			</ul>

			<ol class="c-pagination">
			</ol>

		</div><!--end .l-main-->

	</div><!--end .l-two-col-->
</main>
<footer class="c-footer" role="contentinfo">

	<div class="c-footer__inner l-container">
		<div class="c-footer__top">
			<h1 class="c-logo c-logo--light">
			    <a href="" class="c-logo__link" rel="home">
			
			    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
			
			    </a><!--end c-logo__link-->
			
			</h1><!--end c-logo-->
		</div>
		<div class="c-footer__bottom">
			<ul class="c-footer-nav">
			
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category/04-pages-01-category.rendered.html" class="c-footer-nav__link">Women</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category-men/04-pages-01-category-men.rendered.html" class="c-footer-nav__link">Men</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category-kids/04-pages-01-category-kids.rendered.html" class="c-footer-nav__link">Kids</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category-on-sale/04-pages-01-category-on-sale.rendered.html" class="c-footer-nav__link">On Sale</a>
				</li><!--end c-footer-nav__item-->
			
			</ul><!--end c-footer-nav-->
			<div class="c-footer__credit">All images courtesy of <a href='https://www.pexels.com/'>Pexels</a> and <a href='https://unsplash.com/'>Unsplash</a>.</div>
			<div class="c-footer__copyright">Copyright © 2018 Soul Soles. All Rights Reserved.</div>
		</div>

	</div><!--end l-container-->

</footer><!--end c-footer-->
