<nav class="c-primary-nav" role="navigation">

    <ul class="c-primary-nav__list">

		<li class="c-primary-nav__item ">

			<a href="/patterns/04-pages-01-category/04-pages-01-category.rendered.html" class="c-primary-nav__link">
                Women
            </a><!--end c-primary-nav__link-->

		</li><!-- end c-primary-nav__list__item -->
		<li class="c-primary-nav__item ">

			<a href="/patterns/04-pages-01-category-men/04-pages-01-category-men.rendered.html" class="c-primary-nav__link">
                Men
            </a><!--end c-primary-nav__link-->

		</li><!-- end c-primary-nav__list__item -->
		<li class="c-primary-nav__item ">

			<a href="/patterns/04-pages-01-category-kids/04-pages-01-category-kids.rendered.html" class="c-primary-nav__link">
                Kids
            </a><!--end c-primary-nav__link-->

		</li><!-- end c-primary-nav__list__item -->
		<li class="c-primary-nav__item ">

			<a href="/patterns/04-pages-01-category-on-sale/04-pages-01-category-on-sale.rendered.html" class="c-primary-nav__link">
                On Sale
            </a><!--end c-primary-nav__link-->

		</li><!-- end c-primary-nav__list__item -->
		<li class="c-primary-nav__item ">

			<a href="/patterns/04-pages-03-cart/04-pages-03-cart.rendered.html" class="c-primary-nav__link">
                
                <svg class="c-icon c-primary-nav__icon">
                    <use xlink:href="../../icons.svg#shopping-cart"></use>
                </svg>
            </a><!--end c-primary-nav__link-->

		</li><!-- end c-primary-nav__list__item -->

	</ul><!-- end c-primary-nav__list -->

</nav><!-- end c-primary-nav -->
