<header class="c-header ">

    <div class="c-header__inner l-container">

    	<h1 class="c-logo ">
    	    <a href="/patterns/04-pages-00-homepage/04-pages-00-homepage.rendered.html" class="c-logo__link" rel="home">
    	
    	    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
    	
    	    </a><!--end c-logo__link-->
    	
    	</h1><!--end c-logo-->

    	<nav class="c-primary-nav" role="navigation">
    	
    	    <ul class="c-primary-nav__list">
    	
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category/04-pages-01-category.rendered.html" class="c-primary-nav__link">
    	                Women
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category-men/04-pages-01-category-men.rendered.html" class="c-primary-nav__link">
    	                Men
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category-kids/04-pages-01-category-kids.rendered.html" class="c-primary-nav__link">
    	                Kids
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category-on-sale/04-pages-01-category-on-sale.rendered.html" class="c-primary-nav__link">
    	                On Sale
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-03-cart/04-pages-03-cart.rendered.html" class="c-primary-nav__link">
    	                
    	                <svg class="c-icon c-primary-nav__icon">
    	                    <use xlink:href="../../icons.svg#shopping-cart"></use>
    	                </svg>
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    	
    		</ul><!-- end c-primary-nav__list -->
    	
    	</nav><!-- end c-primary-nav -->

    </div><!--end l-container-->

</header><!--end c-header-->
<main role="main">

	<div class="l-container">
		<div class="c-page-header ">
		
		    <h1 class="c-page-header__title">This is the page title</h1>
		
		    <p class="c-page-header__desc">This is the page description</p>
		
		</div><!-- end c-page-header -->
		<ul class="c-stripe-list ">
			<li class="c-stripe-list__item">
				<div class="c-stripe">
				
				    <div class="c-stripe__left-container">
						<a href="#" class="c-stripe__link">
				            <img src="http://via.placeholder.com/495x330" alt="placeholder image"  class="c-stripe__img" />
						</a>
				    </div>
				
				    <div class="c-stripe__right-container">
						<h3 class="c-stripe__title"><a href="#" class="c-stripe__title-link">product item</a></h3>
						<div class="c-stripe__meta">
				            <label class="c-stripe__meta-label">label</label>
				            <span class="c-stripe__meta-span">meta</span>
				        </div>
				    </div>
				
				</div><!--end c-stripe-->
			</li>
			<li class="c-stripe-list__item">
				<div class="c-stripe">
				
				    <div class="c-stripe__left-container">
						<a href="#" class="c-stripe__link">
				            <img src="http://via.placeholder.com/495x330" alt="placeholder image"  class="c-stripe__img" />
						</a>
				    </div>
				
				    <div class="c-stripe__right-container">
						<h3 class="c-stripe__title"><a href="#" class="c-stripe__title-link">product item</a></h3>
						<div class="c-stripe__meta">
				            <label class="c-stripe__meta-label">label</label>
				            <span class="c-stripe__meta-span">meta</span>
				        </div>
				    </div>
				
				</div><!--end c-stripe-->
			</li>
		</ul><!--end stripe-list-->
		<div class="c-total-container">

		</div>

	</div><!--end l-container-->

</main>
<footer class="c-footer" role="contentinfo">

	<div class="c-footer__inner l-container">
		<div class="c-footer__top">
			<h1 class="c-logo c-logo--light">
			    <a href="" class="c-logo__link" rel="home">
			
			    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
			
			    </a><!--end c-logo__link-->
			
			</h1><!--end c-logo-->
		</div>
		<div class="c-footer__bottom">
			<ul class="c-footer-nav">
			
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category/04-pages-01-category.rendered.html" class="c-footer-nav__link">Women</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category-men/04-pages-01-category-men.rendered.html" class="c-footer-nav__link">Men</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category-kids/04-pages-01-category-kids.rendered.html" class="c-footer-nav__link">Kids</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category-on-sale/04-pages-01-category-on-sale.rendered.html" class="c-footer-nav__link">On Sale</a>
				</li><!--end c-footer-nav__item-->
			
			</ul><!--end c-footer-nav-->
			<div class="c-footer__credit">All images courtesy of <a href='https://www.pexels.com/'>Pexels</a> and <a href='https://unsplash.com/'>Unsplash</a>.</div>
			<div class="c-footer__copyright">Copyright © 2018 Soul Soles. All Rights Reserved.</div>
		</div>

	</div><!--end l-container-->

</footer><!--end c-footer-->
