<header class="c-header ">

    <div class="c-header__inner l-container">

    	<h1 class="c-logo ">
    	    <a href="/patterns/04-pages-00-homepage/04-pages-00-homepage.rendered.html" class="c-logo__link" rel="home">
    	
    	    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
    	
    	    </a><!--end c-logo__link-->
    	
    	</h1><!--end c-logo-->

    	<nav class="c-primary-nav" role="navigation">
    	
    	    <ul class="c-primary-nav__list">
    	
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category/04-pages-01-category.rendered.html" class="c-primary-nav__link">
    	                Women
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category-men/04-pages-01-category-men.rendered.html" class="c-primary-nav__link">
    	                Men
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category-kids/04-pages-01-category-kids.rendered.html" class="c-primary-nav__link">
    	                Kids
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category-on-sale/04-pages-01-category-on-sale.rendered.html" class="c-primary-nav__link">
    	                On Sale
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-03-cart/04-pages-03-cart.rendered.html" class="c-primary-nav__link">
    	                
    	                <svg class="c-icon c-primary-nav__icon">
    	                    <use xlink:href="../../icons.svg#shopping-cart"></use>
    	                </svg>
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    	
    		</ul><!-- end c-primary-nav__list -->
    	
    	</nav><!-- end c-primary-nav -->

    </div><!--end l-container-->

</header><!--end c-header-->
<main role="main">

	<div class="l-container">
		<ol class="c-progress-tracker">
		    <li class="c-progress-tracker__item is-current">
		        <div class="c-progress-tracker__number">
		            1
		        </div>
		        <div class="c-progress-tracker__label">
		            Shipping Information
		        </div>
		    </li>
		    <li class="c-progress-tracker__item ">
		        <div class="c-progress-tracker__number">
		            2
		        </div>
		        <div class="c-progress-tracker__label">
		            Billing Information
		        </div>
		    </li>
		    <li class="c-progress-tracker__item ">
		        <div class="c-progress-tracker__number">
		            3
		        </div>
		        <div class="c-progress-tracker__label">
		            Review Order
		        </div>
		    </li>
		    <li class="c-progress-tracker__item is-current">
		        <div class="c-progress-tracker__number">
		            4
		        </div>
		        <div class="c-progress-tracker__label">
		            Confirmation
		        </div>
		    </li>
		</ol>
		<!-- end c-progress-tracker -->
		<div class="c-page-header ">
		
		    <h1 class="c-page-header__title">Your Order Has Been Processed</h1>
		
		
		</div><!-- end c-page-header -->
		<div class="l-linelength-container">
			<div class="c-text-passage">
			
				<h2>Your confirmation number is: 1234567890</h2><p>Thank you for shopping with SoulSoles!</p><p>You will receive a confirmation email shortly.</p>
			
			</div><!--end c-text-passage-->
		</div>

	</div><!--end l-->

</main>
<footer class="c-footer" role="contentinfo">

	<div class="c-footer__inner l-container">
		<div class="c-footer__top">
			<h1 class="c-logo c-logo--light">
			    <a href="" class="c-logo__link" rel="home">
			
			    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
			
			    </a><!--end c-logo__link-->
			
			</h1><!--end c-logo-->
		</div>
		<div class="c-footer__bottom">
			<ul class="c-footer-nav">
			
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category/04-pages-01-category.rendered.html" class="c-footer-nav__link">Women</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category-men/04-pages-01-category-men.rendered.html" class="c-footer-nav__link">Men</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category-kids/04-pages-01-category-kids.rendered.html" class="c-footer-nav__link">Kids</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category-on-sale/04-pages-01-category-on-sale.rendered.html" class="c-footer-nav__link">On Sale</a>
				</li><!--end c-footer-nav__item-->
			
			</ul><!--end c-footer-nav-->
			<div class="c-footer__credit">All images courtesy of <a href='https://www.pexels.com/'>Pexels</a> and <a href='https://unsplash.com/'>Unsplash</a>.</div>
			<div class="c-footer__copyright">Copyright © 2018 Soul Soles. All Rights Reserved.</div>
		</div>

	</div><!--end l-container-->

</footer><!--end c-footer-->
