<h1 class="c-logo ">
    <a href="/patterns/04-pages-00-homepage/04-pages-00-homepage.rendered.html" class="c-logo__link" rel="home">

    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>

    </a><!--end c-logo__link-->

</h1><!--end c-logo-->
