<ul class="c-footer-nav">

    <li class="c-footer-nav__item">
		<a href="/patterns/04-pages-01-category/04-pages-01-category.rendered.html" class="c-footer-nav__link">Women</a>
	</li><!--end c-footer-nav__item-->
    <li class="c-footer-nav__item">
		<a href="/patterns/04-pages-01-category-men/04-pages-01-category-men.rendered.html" class="c-footer-nav__link">Men</a>
	</li><!--end c-footer-nav__item-->
    <li class="c-footer-nav__item">
		<a href="/patterns/04-pages-01-category-kids/04-pages-01-category-kids.rendered.html" class="c-footer-nav__link">Kids</a>
	</li><!--end c-footer-nav__item-->
    <li class="c-footer-nav__item">
		<a href="/patterns/04-pages-01-category-on-sale/04-pages-01-category-on-sale.rendered.html" class="c-footer-nav__link">On Sale</a>
	</li><!--end c-footer-nav__item-->

</ul><!--end c-footer-nav-->
