<ul class="c-stacked-block-list l-grid l-grid--3up ">
	<li class="c-stacked-block-list__item l-grid__item"><a href="#" class="c-stacked-block ">

	<div class="c-stacked-block__header">
		<div class="c-stacked-block__media">
			<img src="http://via.placeholder.com/600x400" alt="placeholder image" class="c-stacked-block__img" />		</div>
	</div>

	<div class="c-stacked-block__body">
		<h2 class="c-stacked-block__title">Heading ipsum dolor sit (39 characters)</h2>
		<p class="c-stacked-block__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	</div><!-- end c-stacked-block__body -->

	<div class="c-stacked-block__footer">
		<span class="c-stacked-block__meta">Label</span>
	</div>
</a><!-- end c-stacked-block --></li>
	<li class="c-stacked-block-list__item l-grid__item"><a href="#" class="c-stacked-block ">

	<div class="c-stacked-block__header">
		<div class="c-stacked-block__media">
			<img src="http://via.placeholder.com/600x400" alt="placeholder image" class="c-stacked-block__img" />		</div>
	</div>

	<div class="c-stacked-block__body">
		<h2 class="c-stacked-block__title">Heading ipsum dolor sit (39 characters)</h2>
		<p class="c-stacked-block__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	</div><!-- end c-stacked-block__body -->

	<div class="c-stacked-block__footer">
		<span class="c-stacked-block__meta">Label</span>
	</div>
</a><!-- end c-stacked-block --></li>
	<li class="c-stacked-block-list__item l-grid__item"><a href="#" class="c-stacked-block ">

	<div class="c-stacked-block__header">
		<div class="c-stacked-block__media">
			<img src="http://via.placeholder.com/600x400" alt="placeholder image" class="c-stacked-block__img" />		</div>
	</div>

	<div class="c-stacked-block__body">
		<h2 class="c-stacked-block__title">Heading ipsum dolor sit (39 characters)</h2>
		<p class="c-stacked-block__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	</div><!-- end c-stacked-block__body -->

	<div class="c-stacked-block__footer">
		<span class="c-stacked-block__meta">Label</span>
	</div>
</a><!-- end c-stacked-block --></li>
	<li class="c-stacked-block-list__item l-grid__item"><a href="#" class="c-stacked-block ">

	<div class="c-stacked-block__header">
		<div class="c-stacked-block__media">
			<img src="http://via.placeholder.com/600x400" alt="placeholder image" class="c-stacked-block__img" />		</div>
	</div>

	<div class="c-stacked-block__body">
		<h2 class="c-stacked-block__title">Heading ipsum dolor sit (39 characters)</h2>
		<p class="c-stacked-block__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	</div><!-- end c-stacked-block__body -->

	<div class="c-stacked-block__footer">
		<span class="c-stacked-block__meta">Label</span>
	</div>
</a><!-- end c-stacked-block --></li>
	<li class="c-stacked-block-list__item l-grid__item"><a href="#" class="c-stacked-block ">

	<div class="c-stacked-block__header">
		<div class="c-stacked-block__media">
			<img src="http://via.placeholder.com/600x400" alt="placeholder image" class="c-stacked-block__img" />		</div>
	</div>

	<div class="c-stacked-block__body">
		<h2 class="c-stacked-block__title">Heading ipsum dolor sit (39 characters)</h2>
		<p class="c-stacked-block__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	</div><!-- end c-stacked-block__body -->

	<div class="c-stacked-block__footer">
		<span class="c-stacked-block__meta">Label</span>
	</div>
</a><!-- end c-stacked-block --></li>
	<li class="c-stacked-block-list__item l-grid__item"><a href="#" class="c-stacked-block ">

	<div class="c-stacked-block__header">
		<div class="c-stacked-block__media">
			<img src="http://via.placeholder.com/600x400" alt="placeholder image" class="c-stacked-block__img" />		</div>
	</div>

	<div class="c-stacked-block__body">
		<h2 class="c-stacked-block__title">Heading ipsum dolor sit (39 characters)</h2>
		<p class="c-stacked-block__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	</div><!-- end c-stacked-block__body -->

	<div class="c-stacked-block__footer">
		<span class="c-stacked-block__meta">Label</span>
	</div>
</a><!-- end c-stacked-block --></li>
</ul>
