<header class="c-header ">

    <div class="c-header__inner l-container">

    	<h1 class="c-logo ">
    	    <a href="/patterns/04-pages-00-homepage/04-pages-00-homepage.rendered.html" class="c-logo__link" rel="home">
    	
    	    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
    	
    	    </a><!--end c-logo__link-->
    	
    	</h1><!--end c-logo-->

    	<nav class="c-primary-nav" role="navigation">
    	
    	    <ul class="c-primary-nav__list">
    	
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category/04-pages-01-category.rendered.html" class="c-primary-nav__link">
    	                Women
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category-men/04-pages-01-category-men.rendered.html" class="c-primary-nav__link">
    	                Men
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category-kids/04-pages-01-category-kids.rendered.html" class="c-primary-nav__link">
    	                Kids
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-01-category-on-sale/04-pages-01-category-on-sale.rendered.html" class="c-primary-nav__link">
    	                On Sale
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    			<li class="c-primary-nav__item ">
    	
    				<a href="/patterns/04-pages-03-cart/04-pages-03-cart.rendered.html" class="c-primary-nav__link">
    	                
    	                <svg class="c-icon c-primary-nav__icon">
    	                    <use xlink:href="../../icons.svg#shopping-cart"></use>
    	                </svg>
    	            </a><!--end c-primary-nav__link-->
    	
    			</li><!-- end c-primary-nav__list__item -->
    	
    		</ul><!-- end c-primary-nav__list -->
    	
    	</nav><!-- end c-primary-nav -->

    </div><!--end l-container-->

</header><!--end c-header-->
<main role="main">

		<div class="l-container">

			<div class="c-hero">
			
				<img src="../../images/holiday.jpg" alt="Group of shoes" class="c-hero__img" />
				<div class="c-hero__body">
					<h2 class="c-hero__headline">2019 Holiday Gift Guide</h2>
				</div>
			
			</div><!-- end c-hero-->

			<ul class="c-stacked-block-list l-grid l-grid--3up u-margin-bottom-large">
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../images/women-blue-heels.jpg" alt="blue high heels" class="c-stacked-block__img" />		</div>
					<span class="c-stacked-block__badge">Sale</span>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Blue Suede Heels</h2>
					<p class="c-stacked-block__excerpt">Available in 5 colors</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$80</span>
					<span class="c-stacked-block__optional">$110</span>
				</div>
			</a><!-- end c-stacked-block --></li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../images/women-hiking-boots.jpg" alt="brown leather boots" class="c-stacked-block__img" />		</div>
					<span class="c-stacked-block__badge">Sale</span>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Leather Boots</h2>
					<p class="c-stacked-block__excerpt">Available in 2 colors. Overnight shipping available</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$120</span>
					<span class="c-stacked-block__optional">$150</span>
				</div>
			</a><!-- end c-stacked-block --></li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../../images/women-leather-booties.jpg" alt="black leather booties" class="c-stacked-block__img" />		</div>
					<span class="c-stacked-block__badge">Sale</span>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Black Leather Booties</h2>
					<p class="c-stacked-block__excerpt">Available in 3 colors.</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$95</span>
					<span class="c-stacked-block__optional">$135</span>
				</div>
			</a><!-- end c-stacked-block --></li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../../images/women-boot-wedges.jpg" alt="women&#x27;s wedge boots" class="c-stacked-block__img" />		</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Suede Booties</h2>
					<p class="c-stacked-block__excerpt">Available in 2 colors. Overnight shipping available</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$120</span>
				</div>
			</a><!-- end c-stacked-block --></li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../../images/women-adidas.jpg" alt="Adidas shoes" class="c-stacked-block__img" />		</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">White Adidas Sneakers</h2>
					<p class="c-stacked-block__excerpt">Available in 2 colors</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$90</span>
				</div>
			</a><!-- end c-stacked-block --></li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../../images/women-boots.jpg" alt="light tan leather boots" class="c-stacked-block__img" />		</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Light Tan Boots</h2>
					<p class="c-stacked-block__excerpt">Available in 3 colors</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$70</span>
				</div>
			</a><!-- end c-stacked-block --></li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../../images/women-colorful.jpg" alt="technicolor sneakers" class="c-stacked-block__img" />		</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Multicolored Running Shoes</h2>
					
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$75</span>
				</div>
			</a><!-- end c-stacked-block --></li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../../images/women-combat-boots.jpg" alt="black leather high ankle boots" class="c-stacked-block__img" />		</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Black Leather Boots</h2>
					<p class="c-stacked-block__excerpt">Made of 100% authentic leather</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$180</span>
				</div>
			</a><!-- end c-stacked-block --></li>
				<li class="c-stacked-block-list__item l-grid__item"><a href="/patterns/04-pages-02-detail/04-pages-02-detail.rendered.html" class="c-stacked-block ">
			
				<div class="c-stacked-block__header">
					<div class="c-stacked-block__media">
						<img src="../../../images/women-white-heels.jpg" alt="white high heels" class="c-stacked-block__img" />		</div>
				</div>
			
				<div class="c-stacked-block__body">
					<h2 class="c-stacked-block__title">Shiny High Heels</h2>
					<p class="c-stacked-block__excerpt">Available in 5 colors</p>
				</div><!-- end c-stacked-block__body -->
			
				<div class="c-stacked-block__footer">
					<span class="c-stacked-block__meta">$95</span>
				</div>
			</a><!-- end c-stacked-block --></li>
			</ul>

			<ol class="c-pagination">
			</ol>

		</div><!--end .l-main-->

	</div><!--end .l-two-col-->
</main>
<footer class="c-footer" role="contentinfo">

	<div class="c-footer__inner l-container">
		<div class="c-footer__top">
			<h1 class="c-logo c-logo--light">
			    <a href="" class="c-logo__link" rel="home">
			
			    <span class="c-logo__left">Soul</span><span class="c-logo__right">Soles</span>
			
			    </a><!--end c-logo__link-->
			
			</h1><!--end c-logo-->
		</div>
		<div class="c-footer__bottom">
			<ul class="c-footer-nav">
			
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category/04-pages-01-category.rendered.html" class="c-footer-nav__link">Women</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category-men/04-pages-01-category-men.rendered.html" class="c-footer-nav__link">Men</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category-kids/04-pages-01-category-kids.rendered.html" class="c-footer-nav__link">Kids</a>
				</li><!--end c-footer-nav__item-->
			    <li class="c-footer-nav__item">
					<a href="/patterns/04-pages-01-category-on-sale/04-pages-01-category-on-sale.rendered.html" class="c-footer-nav__link">On Sale</a>
				</li><!--end c-footer-nav__item-->
			
			</ul><!--end c-footer-nav-->
			<div class="c-footer__credit">All images courtesy of <a href='https://www.pexels.com/'>Pexels</a> and <a href='https://unsplash.com/'>Unsplash</a>.</div>
			<div class="c-footer__copyright">Copyright © 2018 Soul Soles. All Rights Reserved.</div>
		</div>

	</div><!--end l-container-->

</footer><!--end c-footer-->
