<ul>
    <li style="font-family: &#x27;Raleway&#x27;, &quot;HelveticaNeue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif">$font-family-primary: &#x27;Raleway&#x27;, &quot;HelveticaNeue&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif </li>
    <li style="font-family: &#x27;Abel&#x27;, serif">$font-family-secondary: &#x27;Abel&#x27;, serif </li>
</ul>
<small>To add to these items, use Sass variables that start with <code>$font-family-</code> in <code>./source/css/scss/abstracts/_variables.scss</code></small>